@media (max-width: 600px) {
    .slide-description, .slide-title{
        font-size: 18px;
    }
    .main-menu > ul li ul{
        position: static;
        display: none;
    }
    .main-menu > ul li:hover ul{
        display: block;
    }

    .main-menu > ul > li {
        margin: 2px 0;
    }

    .main-menu li ul li {
        background: #fff;
        color: #000;
    }

    .main-menu > ul li {
        display: block;
        list-style: none;
        text-align: right;
        float: right;
        clear: both;
        margin-right: 20px;
    }

    .page-title {
        text-align: right;
        display: block;
        margin-right: 20px;
    }

    .page-title span{
        transition: background 0.4s ease, transform 0.4s cubic-bezier(.12,.74,.34,.89);
        padding: 0 5px;
        display: inline-block;
        transform-origin: bottom right;

    }

    .page-title.show span{
        transform: rotate(-90deg);
    }
}
