@media (max-width: 600px) {
    body{
        cursor: pointer;
    }
    .slide-description, .slide-title{
        font-size: 18px;
    }
    .main-menu{
        padding: 0;
    }
    .main-menu > ul li ul{
        position: static;
        display: none;
    }

    .main-menu > ul li:hover ul{
        height: 0;
        padding: 0;
    }

    .main-menu > ul li.open ul{
        display: block;
    }

    .main-menu > ul > li {
        margin: 2px 0;
    }


    .main-menu > ul li {
        display: block;
        list-style: none;
        text-align: right;
        float: right;
        clear: both;
        margin-right: 20px;
        padding: 0;
    }

    .page-title {
        text-align: right;
        display: block;
        margin-right: 20px;
    }

    .page-title span{
        transition: background 0.4s ease, transform 0.4s cubic-bezier(.12,.74,.34,.89);
        padding: 0 5px;
        display: inline-block;
        transform-origin: bottom right;

    }


    .main-menu > ul.show{
        top: 45px;
    }

    .page-title.show span{
        transform: rotate(-90deg);
    }
    .main-menu ul li.open ul{
        height: initial;
        padding: inherit;
    }
    .main-menu > ul li a {
        display: initial;
        padding: 0 2px;
    }


}
