@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Karla:200,300,400');
html{
    -webkit-text-size-adjust: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

}
body{
    font-family: 'Karla', sans-serif;
    -webkit-font-smoothing: antialiased;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;
    position: absolute;
    /* font-weight: 300; */
}

a, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

p{
    margin: 0;
}

::-moz-selection { /* Code for Firefox */
    color: #FFF;
    background: rgba(0, 0, 0, 0.7);
}

::selection {
    color: #FFF;
    background: rgba(0, 0, 0, 0.7);
}

.header {
    padding: 10px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 1000;
    position: absolute;
    width: 100%;
    text-align: center;
    color: white;
    text-transform: uppercase;
    font-weight: 600;
    left: 0;
    top:0;
}

.fullscreen-slider {
    overflow: hidden;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.slide-images {
    width: 100%;
    height: 100%;
    z-index: 0;
    position: relative;
}
.slide-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: 50% 50%;
    position: absolute;
    top: 0;
    left: 0;
}

.navigation-arrow{
    z-index: 1;
    cursor: pointer;
    opacity: 0.3;
    width: 30px;
    height: 30px;
    transform: translateY(-50%) rotate(-45deg);
    position: absolute;
    top: 50%;
}

.navigation-arrow:hover{
    transition: all 0.2s ease;

    opacity: 1;
}
.left-arrow {
    border-left: 2px solid white;
    border-top: 2px solid white;
    left: 20px;
}
.right-arrow{
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    right: 20px;
}

.tools {
    position: absolute;
    top: 0;
    z-index: 3;
    left: 0;
    width: 100%;
    height: 100%;
}


.slide-text {
    z-index: 1;
    text-align: center;
    position: absolute;
    width: 100%;
    top: 46%;
    transform: translateY(-50%);
    color: #FFF;
    text-shadow: 1px 1px 4px rgba(0, 0, 0 , 0.4);
}

.slide-image.active .slide-title, .slide-image.active .slide-description{
    top: 0;
    opacity: 1;
}
.slide-images .slide-description{
    transition: opacity 1s cubic-bezier(1,.02,.92,.7), top 1s cubic-bezier(1,.02,.92,.7);
    position: relative;
    opacity: 0;
}
.slide-images .slide-title{
    transition: opacity 1s ease, top 1s ease;
    position: relative;
    top: 50px;
    opacity: 0;

}
.slide-description {
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 25px;
}

.slide-title {
    font-family: 'Montserrat', sans-serif;
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 10px;
}


.slide-access-button {
    text-transform: uppercase;
    text-shadow: none;
    border: 2px solid #FFF;
    display: inline-block;
    padding: 10px 30px;
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Karla;
    font-weight: 400;
    font-style: normal;
    cursor: pointer;
    transition: all 0.5s ease;
}

.slide-access-button:hover{
    background: #FFF;
    color: #000;
}

.transition-image{
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
}


.transition-canvas-wrapper {
    will-change: transform, opacity;
    position: absolute;
    left: 0;
    width: 100%;
    height: 50%;
    overflow: hidden;
}


.transition-canvas-wrapper.open{
    transition: all 1s cubic-bezier(1,.01,.66,.8);
}

.transition-canvas-wrapper{
    transition: none;

}

.transition-canvas-wrapper .slide-image{
    position: absolute;
}

.transition-canvas-wrapper.top{
    transform-origin: top right;
    top: 0
}
.transition-canvas-wrapper.bottom{
    transform-origin: top left;
    top: 50%;
}


.transition-canvas-wrapper.bottom .slide-image {
    top: -100%;
}

.transition-canvas-wrapper.bottom.open{
    transform: scale(3) translateY(200%) rotate(45deg);
    /*filter: blur(5px);*/
    /*opacity: 0.9;*/
}

.transition-canvas-wrapper.top.open{
    transform: scale(3) translateY(-200%) rotate(45deg);
    /*filter: blur(5px);*/
    /*opacity: 0.9;*/
}

.slide-images .slide-image{
    transition: filter 1s ease;
    will-change: filter transform;
}
.slide-images .slide-image.active{
    z-index: 1;
}
.slide-images .slide-image:not(.active){
    /* display: none; */
    opacity: 0;
    z-index: 0;
    /*transform: scale(1.2);*/
    filter: blur(4px);
}

.slide-image::before{
    content: ' ';
    position: absolute;
    width: 100%;
    opacity: 0.8;
    height: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(63,63,63,0.4) 0%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(63,63,63,0.4) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(63,63,63,0.4) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

.slide-image::after{
    content: ' ';
    position: absolute;
    width: 100%;
    opacity: 0.8;
    height: 100%;
    /* background: url(../images/mirror.png) #00000085; */
    background-size: 100% 100%;
}




.page-title{
    cursor: pointer;
    display: initial;
}

.page-title span{
    transition: background 0.4s ease;
    padding: 0 5px;
}

.page-title span:hover{
    background: rgba(0, 0, 0, 0.7);
}

.main-menu > ul {
    display: block;
    left: 0;
    position: relative;
    top: 0;
    opacity: 0;
    transition: all 0.4s cubic-bezier(.39,.82,.66,.8);
    padding: 0;
}

.main-menu > ul.show{
    opacity: 1;
    top: 5px;
}
.main-menu > ul li:hover > a{
    background: #FFF;
    color: #000;
}


.main-menu > ul li {
    display: inline-block;
    font-weight: 400;
    cursor: pointer;
    width: 16%;
    min-width: 150px;
    margin: 0 0 10px 0;
    max-width: 180px;
    position: relative;
}
.main-menu > ul li:hover a{
    display: block;
}
.main-menu > ul li a{
    background: #111;
    /* display: block; */
    padding: 0 10px;
}

.main-menu {
    padding: 0 30px;
    margin: 0;
}
.splash{
    background-image: url(../images/spin.gif);
    background-color: #555;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    z-index: 10;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.splash::before{
    content: ' ';
    position: absolute;
    width: 100%;
    opacity: 0.7;
    height: 100%;
    background: -moz-radial-gradient(center, ellipse cover, rgba(63,63,63,0.4) 0%, rgba(0,0,0,0.99) 99%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(63,63,63,0.4) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(63,63,63,0.4) 0%,rgba(0,0,0,0.99) 99%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}


.main-menu li ul{
    position: absolute;
    padding: 0;
    /*margin: 0px 0 0 -5px;*/
    transition: all 0.3s cubic-bezier(.39,.82,.66,.8);
    display: none;
    overflow: hidden;
    width: 100%;
    z-index: 5;
}
.main-menu li ul li a{
    color: #fff;
    background: #111;
}
.main-menu li ul li{
    display: block;
    margin: 0;
    text-align: center;
    width: 100%;
}
.main-menu li:hover ul{
    display: block;
    background: #FFF;
}
.main-menu li ul li:hover a{
    color: #000;
    background: #ccc;
}


.ui-loader{
    display: none;
}

.modal{
    position: fixed;
    text-shadow: none;
    /* border: 1px solid #FFF; */
    /* padding: 10px 30px; */
    margin-bottom: 20px;
    font-size: 14px;
    font-family: Karla;
    font-weight: 400;
    font-style: normal;
    z-index: 1001;
    top: 40px;
    left: 20px;
    width: calc(100% - 40px);
    height: 0;
    background: #000000;
    overflow: hidden;
}

.modal.show{
    transition: all 0.2s cubic-bezier(0.84, 0.16, 0.32, 0.69);
    top: 40px;
    left: 20px;
    width: calc(100% - 40px);
    height: calc(100% - 60px);
    opacity: 1;
    z-index: 1001;
}

.modal-close-btn{
    float: right;
    padding: 5px;
    cursor: pointer;
    color: #FFF;
}

.modal-bg{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: none;
    /* background-image: url(../images/mirror.png); */
    z-index: 1000;
    /* background-color: #000000; */
    /* background-size: 100% 100%; */
}

.modal-bg.show{
    display: block;
}
